<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angular</title>
    <script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>
</head>
<!-- 注意，在使用select option的时候，再好选择ng-options而不是ng-repeat，因为ng-options选择的是一个对象，而ng-repeat只是选择了字符串 -->
<!-- 所有的 变量写在一个控制器中，不能够正确显示！！！！！！ -->
<body>
<!-- 使用ng-options和使用ng-repeat的区别 -->
	<div ng-app = "myApp" ng-controller = "myCtrl" >
    <!-- 这里的ng-model看似没有用，但是不可缺,name变量就相当于一个option对象 -->
        <!-- <select ng-model="name" ng-options="x for x in names"></select>
        <select>
            <option ng-repeat="x in names">{{ x }}</option>
        </select> -->


    <!-- ng-options选择对象 -->
        <select ng-model="selectedsite" ng-options="x.site for x in names"></select>
        <p>名称：{{selectedsite.site}}</p>
        <p>地址：{{selectedsite.url}}</p>
    <!-- ng-repeat选择字符串 -->
        <select  ng-model="selectedsite2">
            <option ng-repeat="x in names">{{x.site}}</option>
        </select>
        <p>名称：{{selectedsite2}}</p>
        
    </div>
    <!-- 数据源为对象时，ng-options的写法 -->
        <select ng-model="selectedsite3" ng-options="y.course for (x,y) in courses"></select>
        <p>课程名：{{ selectedsite3 }}</p>

        <select ng-model="selectedCar" ng-options="y.brand for (x, y) in cars"></select>
        <p>{{selectedCar}}</p>
<script type="text/javascript">
    var myapp = angular.module("myApp",[]);
    myapp.controller("myCtrl",function($scope){
        $scope.names = [{site:"sunliying",url:"www.ccnu.edu.cn"},{site:"wangyifeng",url:"http://sunliying.github.io"},{site:"sunly",url:"127.0.0.1:8080"}];
        $scope.courses = {
            x001:{teacher:"Jone",course:"Math",xuesheng:"39"},
            x002:{teacher:"Sunly",course:"English",xuesheng:"40"},
            x003:{teacher:"Jane",course:"Chinese",xuesheng:"29"},
            x004:{teacher:"Sunyish",course:"Physics",xuesheng:"34"}
        };
        $scope.cars = {
        car01 : {brand : "Ford", model : "Mustang", color : "red"},
        car02 : {brand : "Fiat", model : "500", color : "white"},
        car03 : {brand : "Volvo", model : "XC90", color : "black"}
    };
    });
</script>
</body>

</html>
